
    .missions-page-missions{
        -webkit-box-shadow: 12px 0px 28px 0px rgba(34, 60, 80, 0.3);
        -moz-box-shadow: 12px 0px 28px 0px rgba(34, 60, 80, 0.3);
        box-shadow: 12px 0px 28px 0px rgba(34, 60, 80, 0.3);
        z-index: 1000;
    
    }
    .leaflet-marker-icon  {
        background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
    }