.object-popup-text-bold{
    font-weight: bold;
}

.object-popup-add-mission{
    
}

.form-error-msg{
    color: lightcoral;
    font-size: small;
}
.detected-object-is-desired{
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
}
#DetectedObjectIsDesired{
    height: 25px;
    width: 50px;
    margin-right: 15px;
    cursor: pointer;

}