/* .operation-page-header-item.active{
    display: block;
}
.operation-page-header-item{
    display: none;
}

#sidebarCollapse{
    display: none;
}
#sidebarCollapse.active{
    display: block;
} */