.operation-card {
    /* -webkit-box-shadow: 8px 11px 36px -14px rgba(34, 60, 80, 0.34);
    -moz-box-shadow: 8px 11px 36px -14px rgba(34, 60, 80, 0.34);
    box-shadow: 8px 11px 36px -14px rgba(34, 60, 80, 0.34); */
    background: "none";
}

.operation-card:hover {
    background-color: #f8f9fa;
}

.operation-card-header{
    display: flex;
    justify-content: space-between;
}
.operation-card-date{
    display: flex;
    align-items: center;
}
.operation-card-header-title{
    display: flex;
    align-items: center;
}
.complete-operation-button{
    color: darkgrey;
    text-align: center;
    font-size: 23px;
    padding: 5px;
    margin: 5px 10px;
    /* border: solid 1px darkgrey;
    border-radius: 5px; */
}

.operation-card-title-underline:hover{
    text-decoration: underline;
    cursor: pointer;
}
.complete-operation-button:hover{

    color: black;
    font-weight: bold;
}