#TargetPanel {
    padding: 10px 10px;
    min-width: 20%;
    min-height: 100px;
    width: auto;
    background-color: black;
    height: min-content;
    z-index: 3000;
    opacity: 0.5;
    position: absolute;
    bottom: 30px;
    left: 15px;
    border-radius: 3px;
    -webkit-box-shadow: 14px 24px 43px 19px rgba(34, 60, 80, 0.66);
    -moz-box-shadow: 14px 24px 43px 19px rgba(34, 60, 80, 0.66);
    box-shadow: 14px 24px 43px 19px rgba(34, 60, 80, 0.66);
}
#TargetPanel:hover {
    cursor: grab;
    opacity: 0.8;
}

.targetPanelItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .target-name {
        color: white;
        font-weight: bold;
        font-size: larger;
    }
    .confirm {
        padding: 3px;
        color: white;
    }
    .confirm:hover {
        border: solid 1px white;
        border-radius: 3px;
        cursor: pointer;
    }
}
.shake-horizontal {
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }